version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: vault-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: vault-backend
    restart: always
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongo

volumes:
  mongo-data:
